build
certifi
charset-normalizer
colorama
docutils
id
idna
jaraco.classes
jaraco.context
jaraco.functools
keyring
markdown-it-py
mdurl
more-itertools
nh3
packaging
Pygments
pyproject_hooks
pywin32-ctypes
readme_renderer
requests
requests-toolbelt
rfc3986
rich
twine
update-reqs
urllib3
